<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="E:/Learning/Automation Testing The Testing Academy/Projects/Restfull Booker/Restfull_Booker/src/test/java/com/app/tests/IntegrationTest.java"><classes><class name="com.app.tests.IntegrationTest"><methods><include name="testCreateBooking"/><include name="testCreateAndUpdateBooking"/><include name="testDeleteCreatedBooking"/></methods></class></classes></test></suite>